---
import Layout from "../layouts/Layout.astro"
import Badge from "../components/Badge.astro"
import SectionContainer from "../components/SectionContainer.astro"
import LinkedInIcon from "../components/icons/LinkedIn.astro"
import SocialPill from "../components/SocialPill.astro"
import GitHubIcon from "../components/icons/GitHub.astro"
import MailIcon from "../components/icons/Mail.astro"
import Experience from "../components/Experience.astro"
import Briefcase from "../components/icons/Briefcase.astro"
import CodeIcon from "../components/icons/Code.astro"
import Projects from "../components/Projects.astro"
import Phone from "@/components/icons/Phone.astro"
---

<Layout
  title="Porfolio de stevendev - Desarrollador y Programador Web con 15 años de experiencia"
  description="Contrata a stevendev para crear tu aplicación web o móvil. Desarrollador Web y Creador de Contenido. Especializado en crear aplicaciones únicas."
>
  <main class="px-4">
    <SectionContainer class="py-35 pb-15 mt-4">
      <img
        class="rounded-full size-16 mb-4"
        src="/stevendev.webp"
        alt="stevendev photo"
      />
      <h1
        class="text-gray-900 dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hola, soy Steven<a
          href="https://www.linkedin.com/in/stevenalvaradoa/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2
        class="text-xl lg:text-2xl text-balance max-w-[700px] text-black dark:text-white"
      >
        <span>Full Stack Developer con 8 meses de experiencia un estudiante próximo a graduarme con experiencia en desarrollo FullStack.</span><span
          class="text-yellow-800 dark:text-yellow-200"
        >
        Durante los últimos 8 meses, he estado inmerso en el mundo de la programación, trabajando con tecnologías como C#, .NET, SQL Server, React, JavaScript, HTML y CSS. Y capacitandome en los lenguajes de Python y Java.</span
        >
         <span class="text-red-800 dark:text-red-200">
          De Alajuela, Costa Rica</span
        >.
        <span class="text-sky-800 dark:text-sky-200"
          >Estoy apasionado por la creación de soluciones innovadoras y funcionales.</span
        >
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/stevenalvaradoa/">
          <LinkedInIcon class="size-4 md:size-6" />
           LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/StevenAlvaradoAguilar">
          <GitHubIcon class="size-4 md:size-6" />
           GitHub
        </SocialPill>
        <SocialPill href="mailto:alvaradosteven6@gmail.com">
          <MailIcon class="size-4 md:size-6" />
           alvaradosteven6@gmail.com
        </SocialPill>
        <SocialPill href="mailto:alvaradosteven6@gmail.com">
          <Phone class="size-4 md:size-4" />
           +506 83493058
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <Briefcase class="size-7" />
         Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <CodeIcon class="size-7" />
         Proyectos
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>
