---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "2024-01-01 al 2024-01-29",
    title: "Ingeniero de software júnior | Grupo Asesor en Informática S.A.",
    description:
      "Fui parte de un equipo en el desarrollo de una aplicación web con los fundamentos de programación, fundamentos de bases de datos y otras tecnologías. Di mantenimiento a piezas específicas para implementar nuevas funcionalidades.",
    link: "https://www.linkedin.com/company/grupoasesorcr/",
  },
  {
    date: "2023-07-01 al 2024-01-01",
    title: "Intern Software Engineer | Grupo Asesor en Informática S.A.",
    description:
      "Fui parte de un equipo en el desarrollo de un nuevo sistema para una aplicación web con los fundamentos de programación, fundamentos de bases de datos y otras tecnologías. Aplicación web funcional, escalable e implementación de una nuev funcionalidad de un menú.",
    link: "https://www.linkedin.com/company/grupoasesorcr/",
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
